<p>Responsive managed table.</p>
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>

<div ng-app="myApp.table" ng-controller="TableCtrl" >

    <table id="example" class="table" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>server</th>
                <th>uptime</th>
                <th>memory</th>
                <th>cpu</th>
                <th>disk</th>
                <th>db_location</th>
            </tr>
        </thead>
        <tbpdy>
            <tr ng_repeat="data in details">
                <td>{{ data.server }}</td>
                <td>{{ data.uptine }}</td>
                <td>{{ data.memory.total_memory.value }} {{ data.memory.total_memory.unit}}</td>
                <td>{{ data.cpu.cpus[0].speed }}</td>
                <td>{{ data.disk.size.value }} {{ data.disk.size.unit }}</td>
                <td>{{ data.db_check.db_location }}</td>

            </tr>
        </tbpdy>
        <tfoot>
            <tr>
                <th>server</th>
                <th>uptime</th>
                <th>memory</th>
                <th>cpu</th>
                <th>disk</th>
                <th>db_location</th>
            </tr>
        </tfoot>

    </table>

</div>



